body { 
    background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.mainpage_container { 
  display: flex;
  flex-direction: row;
 
}
.header_wrapper {
  display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(14, 33, 105, 0.08);
    height: 74px;
    width: 100vx;

}

.header_logo{ 
  height: 22px;
width: 78px;
}

.header_wrapper_logo {
height: 22px;
width: 78px;
border-radius: 0px;
margin-left: 48px;
margin-top: 26px;
}

.header_wrapper_rightside {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 54px;
}
.feather {
  width: 24px;
  height: 24px;
}
.search_button {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 1px;
  border: none;
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  cursor:pointer;
  color: rgba(13, 20, 38, 1);

}
.search_button:hover { 
  border-width: 32px;
 border-radius:6px;
 background: rgba(14, 33, 105, 0.04);
}

.bell_button:hover {
 border-width: 32px;
 border-radius:6px;
 background: rgba(14, 33, 105, 0.04);
}


input[name=q]{
width:68px;     /* NEEDED */
transition:0.3s; -webkit-transition: 0.3s;
}
input[name=q]:focus{
width:384px;
height: 73px;
background-color: rgb(255, 255, 255);
}
.search_box:focus {
  background: #FFFFFF;
  font-family: Alegreya;
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}

.search_box { 
  font-family: Mukta;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  outline: none;
  height: 18px;
  width: 70px;
  margin-right: 12px;
  border: none;
}
.search_box:focus {
  background-color: #FFFFFF;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}


.search_box::-webkit-search-cancel-button { 
  color: rgba(13, 20, 38, 1);
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  background-image: url(../img/cross.png);
  padding-right: 3.1px;
}

.bell_button { 
  border: none;
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  cursor:pointer;
  color: rgba(13, 20, 38, 1);
}

.profile_wrapper:hover {
  border-width: 32px;
  border-radius:6px;
  background: rgba(14, 33, 105, 0.04);
}

.profile_wrapper_img { 
  margin-left: 24px;
}
.profile_wrapper {
  display: flex;
  flex-direction: row;
}

.profile_wrapper_container { 
  display: flex;
  flex-direction: row;
}

.profile_wrapper_name { 
  text-decoration: none;
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(13, 20, 38, 1);
}

.profile_wrapper_position { 
  font-family: Mukta;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(13, 20, 38, 1);
}

.profile_wrapper_container:hover { 
  border-width: 32px;
  border-radius:6px;
  background: rgba(14, 33, 105, 0.04);
}

.profile_wrapper_description { 
display: flex;
flex-direction: column;
margin-right: 16px;
margin-left: 12px;
justify-content: center;

}

.feather-search {
  margin-right: 10px;
}

.feather_bell { 
  margin-top: 4px;
}

.btn {
  /* background-color: white; */
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border: none;
  
}




.dots3_button {
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.dots3_drop {
  top: 56px;
  right: 100px;
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: rgba(250, 250, 250, 1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  }

.dots3_drop a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dots3_drop a:hover {

  background: rgba(13, 20, 38, 0.1);

}

.see3 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
  
}











.dropdown { 
  position: absolute;
  top: 86px;
  right: 54px;
  width: 224px;
  height: 156px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 32px 0px rgba(13, 20, 38, 0.16);
  visibility: hidden;
  opacity: 0;
  transform: translateY(9px);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
.chevron-down { 
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.dropdown svg { 
  margin-right: 10px;
}
.dropdown a:hover {
  background: rgba(13, 20, 38, 0.4);
  
  color: white;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.rotate { 
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}
/* Header END */

/* Sidebar Start */
.wrapper {
  height:1100px;;
  /* padding-left: 55px; */
  width: 272px;
  border-right-style: solid;
  border-width: 1px;
  border-color: rgba(14, 33, 105, 0.08);
  width: 132px;
  overflow: hidden;
  transition: all 0.2s;
  
 }
 .wrapper:hover {
  width: 342px;
 }

.wrapper .nav_bar {
  /* margin-top: 15px; */
  /* width: 272px; */
  margin-top: 30px;

}
.nav_bar { 
  height: 100vh;
}

.wrapper .nav_bar li {
  list-style: none;
  position: relative;
  width: 100%;
  /* padding-bottom: 10px; */
  padding-right: 10px;
}

.wrapper .nav_bar li .nav_bar_label {
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  
}

.wrapper ul li a i {
  font-size: 20px;
  padding: 0 10px;
  

}
.wrapper ul li a span { 
  color:rgba(11, 30, 99, 1);
  
}
.nav_bar_chevron_down { 
  padding-left: 70px;

}

.wrapper:hover .nav_bar_chevron_down {
  padding-left:0px
}

/* .submenu {
  margin: 15px 25px;
} */
.submenu li {
  margin-bottom: 5px;
}

.submenu li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
}



.submenu1_show {
  display: block;
  margin-top: 24px;
}

.hidden {
  display: none;
}
.show {
  display: inline-block !important;
}
/* .nav_bar li a .nav_bar_chevron_down {
  transform: rotate(-180deg);
} */

.wrapper.closed .nav_bar_label {
  width: 50px;
}
.wrapper.closed .button_compose {
  width: 50px;
}

.wrapper.closed ul {
  margin-left: 0;
  padding-left: 0;
}

.wrapper.closed .nav_bar_name {
  display: none;
  }

.nav_bar_name {
  margin-left: 20px;
  display: none;
}
.chevron_down {
  display: none;  
}
.wrapper:hover li svg {
  display: inline-block;
}

.wrapper.closed {
  display: none;
}
.wrapper.closed img {
  display: none;
}
.category_submenu_name{
  margin-left:44px;
  
font-family: 'Mukta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 27px;
  
  display: none;
  margin-bottom: 10px;
}

.wrapper:hover .category_submenu_name {
  display: inline-block;
}


.nav_bar {
  padding-left:50px;
  width: 132px;
}

.btn2:hover {
background-color: #D3D3D3;

}

.nav_bar li a:hover {
  background: linear-gradient(0deg, rgba(13, 20, 38, 0.04), rgba(13, 20, 38, 0.04)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  
}
.nav_bar li a {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}
.nav_bar:hover .fa-chevron-down {
  display: block;
}

.wrapper:hover .nav_bar_name {
  display: inline-block;
}
.nav_bar_nav {
  margin-bottom: 44px;
}
.nav_bar_nav :nth-child(4) {
  margin-bottom: 24px;
}

.fa {
  color: rgba(13, 20, 38, 1);
  ;
}
.nav_bar_label:focus .fa {
  color:rgba(14, 33, 105, 1);
}

/* Sidebar End */

/* PAYROLL START */
.payroll_container { 
display: flex;
flex-direction: column;
align-items: center;

margin-top: 64px;
   
    width: 100%;

}
.payroll_container_title { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1064px;
  align-items: center;
  margin-bottom: 36px;
}
.active_payrolls {
  font-family: Alegreya;
font-size: 32px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0.4000000059604645px;
text-align: left;
color: rgba(11, 30, 99, 1);
}

.completed_payrolls { 
  font-family: Mukta;
font-size: 16px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
color: rgba(13, 20, 38, 1);
Opacity:56%;
text-decoration: none;
}

.payroll_container_description { 
  width: 680px;
  display: flex;
  
  font-family: Mukta;
font-size: 14px;
font-weight: 500;
line-height: 23px;
letter-spacing: 1px;
text-align: left;
Opacity:56%;
padding-left: 24px;
}
.payroll_container_description :nth-child(1) { 
  width: 278px;
}
.payroll_container_description :nth-child(2) { 
  width: 278px;
}


.active_payroll_subcontainer { 
height: 80px;
width: 1064px;
border-radius: 4px;
background: rgba(250, 250, 250, 1);
display: flex;
align-items: center;
font-family: Mukta;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 16px;

}

.active_payroll_list { 
  display: flex;
  flex-direction: row;
justify-content: space-between;
width: 1060px;
}
.pay_cycle_container { 
  padding-left: 24px;
  font-family: Mukta;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
color: rgba(13, 20, 38, 1);
width: 278px;
}
.pay_cycle_container :nth-child(2) {
  margin-top: 8px;
  font-family: Alegreya;
font-size: 16px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
opacity: 56%;
width: 278px;
}
.pay_cycle_container_names {
  padding-top: 15px;
  width: 278px;
}

.run_late_payroll { 
height: 48px;
width: 152px;
border-radius: 44px;
padding: 14px;
background: linear-gradient(0deg, #0B1E63, #0B1E63),
linear-gradient(0deg, rgba(14, 33, 105, 0.08), rgba(14, 33, 105, 0.08));
border: 1px solid rgba(14, 33, 105, 0.08);
margin-right:10px;
}

.run_payroll { 
  height: 48px;
  width: 152px;
  border-radius: 44px;
  padding: 14px;
  border: 1px solid rgba(14, 33, 105, 0.08);
  margin-right:10px;
  background: rgba(36, 77, 225, 0.08);
  }
  .run_payroll a {
    text-decoration: none;
    color: rgba(36, 77, 225, 1);
    ;
  }

  .review_payroll { 
    height: 48px;
    width: 152px;
    border-radius: 44px;
    padding: 14px;
    margin-right: 10px;
    border: 1px solid rgba(5, 37, 153, 0.08);
    background: rgba(250, 250, 250, 1);
}
.review_payroll a {
  text-decoration: none;
  color: rgba(13, 20, 38, 1);

}

.run_late_payroll a {
  color: white;
  text-decoration: none;
 }

.other_payroll_options { 
 
  font-family: Alegreya;
font-size: 32px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0.4000000059604645px;
text-align: left;
color:rgba(11, 30, 99, 1);
;
}


.dots_button {
  background: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.dots_drop {
  margin-top: -43px;
  margin-left: -186px;
  position: absolute;
  width: 196px;
  height: 168px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: rgba(250, 250, 250, 1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dots_drop a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
  
  
}

.dots_drop a:hover {
  background: rgba(13, 20, 38, 0.1);
}

.see {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
  margin-top: -46px;
}



.dots1_button {
  background: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.dots1_drop {
  margin-top: -43px;
  margin-left: -186px;
  position: absolute;
  width: 196px;
  height: 168px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: rgba(250, 250, 250, 1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dots1_drop a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dots1_drop a:hover {
  background: rgba(13, 20, 38, 0.1);
}

.see1 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
  margin-top: -46px;
}





.dots2_button {
  background: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.dots2_drop {
  margin-top: -43px;
  margin-left: -186px;
  position: absolute;
  width: 196px;
  height: 168px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: rgba(250, 250, 250, 1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dots2_drop a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dots2_drop a:hover {
  background: rgba(13, 20, 38, 0.1);
}

.see2 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
  margin-top: -46px;
}























.dots3_drop svg { 
  margin-right: 14px;
}

.other_payroll_options_container { 
  width: 504px;
  height: 140px;
  background:linear-gradient(0deg, #FAFAFA, #FAFAFA);
  border-radius: 4px;
  display: flex;
  margin-top: 42px;
  margin-right: 22px;
  margin-bottom: 22px;  
}

.other_payroll_options_wrapper { 

  margin-bottom: 22px;
  width: 1064px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.payrol_zap_container { 
  width: 48px;
  height: 48px;
  background: rgba(36, 77, 225, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  border-style: solid;
  border-width: 1px;
  background: rgba(36, 77, 225, 0.04);
  margin-top: 26px;
  margin-left: 26px;
  margin-right: 12px;
  border: none;
}
.payroll_zap { 
  width: 21px;
  height: 21px;
  color: rgba(36, 77, 225, 1);
 
  background-color:rgba(36, 77, 225, 0.04);
  ;
}
.payroll_zap_list { 
  font-family: Mukta;
font-size: 20px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0px;
text-align: left;
color: rgba(13, 20, 38, 1);
margin-top: 25px;

}
.payroll_zap_list :nth-child(2) {
  font-family: Alegreya;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(13, 20, 38, 1);
  opacity: 56%;
  width: 247px;
  
}
.other_payroll_options_wrapper :nth-child(2)  {
margin-right: 0px;
}
.run_button { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  margin-top: 25px;
  margin-left: 70px;
  width: 78px;
  height: 44px;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA);
  border: none;
}

.chevron-right {
  display: none;
}
.run_button:hover { 
  background: rgba(14, 33, 105, 0.04);
  color: rgba(5, 37, 153, 1);
}

.run_button a  {
  font-family: Mukta;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(13, 20, 38, 1);
  text-decoration: none;
}
.run_button:hover a {
  color: rgba(5, 37, 153, 1);
}
.run_button:hover .chevron-right {
  display: inline-block;
}
/* PAYROLL END */